@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/TeacherArea/Views/Shared/_LayoutPage1.cshtml";
}
@section head{
    <style>
        .am-g div {
            text-align:center;
        }
    </style>
}
@section nav{
    
}
<div class="am-g am-center">
    <div class="am-u-sm-4 am-u-md-4 am-u-lg-4">
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <i class="am-icon-btn am-icon-users"></i>
            </div>
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                用户数目
            </div>
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                32
            </div>
        </div>
    </div>
    <div class="am-u-sm-4 am-u-md-4 am-u-lg-4">
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <i class="am-icon-btn am-icon-tasks"></i>
            </div>
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                我发布的
            </div>
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                12
            </div>
        </div>
    </div>
    <div class="am-u-sm-4 am-u-md-4 am-u-lg-4">
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <i class="am-icon-btn am-icon-wordpress"></i>
            </div>
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                留言数量
            </div>
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                1234
            </div>
        </div>
    </div>
</div>
<hr />
<div class="am-g">

    <div class="am-u-sm-6 am-u-md-6 am-u-lg-6">
        <section class="am-panel am-panel-default">
            <header class="am-panel-hd">
                <h3 class="am-panel-title">最新用户</h3>
            </header>
            <div class="am-panel-bd">
                <table class="am-table">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>用户名</th>
                            <th>注册时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12</td>
                            <td><a>呆萌呆萌</a></td>
                            <td>2016-07-2</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td><a>呆萌呆萌</a></td>
                            <td>2016-07-2</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td><a>呆萌呆萌</a></td>
                            <td>2016-07-2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <div class="am-u-sm-6 am-u-md-6 am-u-lg-6">
        <section class="am-panel am-panel-default">
            <header class="am-panel-hd">
                <h3 class="am-panel-title">最新留言</h3>
            </header>
            <div class="am-panel-bd">
                <table class="am-table am-table-hover">
                    <thead>
                        <tr>
                            <th>留言人</th>
                            <th>内容</th>
                            <th>课程信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>呆萌小法师</td>
                            <td>支持老师一下</td>
                            <td>C指针</td>
                        </tr>
                        <tr>
                            <td>呆萌小法师</td>
                            <td>支持老师一下</td>
                            <td>C指针</td>
                        </tr>
                        <tr>
                            <td>呆萌小法师</td>
                            <td>支持老师一下</td>
                            <td>C指针</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
@section script{

}