@{
    ViewBag.Title = "添加";
    Layout = "~/Areas/TeacherArea/Views/Shared/_LayoutPage1.cshtml";
}
@section head {

}
@section nav{
    <a href="/Teacher/Weike">微课管理</a>/添加
}
<h2>Add</h2>
@section script {

}