@{
    ViewBag.Title = "后台管理";
    Layout = "~/Areas/TeacherArea/Views/Shared/_LayoutPage1.cshtml";
}
@section head {

}
@section nav {
    增加类别
}
<form action="/" method="post" onsubmit="return false">
    <input type="text" required name="name" value="" />
</form>
@section script {

}